{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}{% endblock %}


{% block page_primary_action %}
{% if c.stale_datasets %}
You have datasets that need updating:
{% else %}
All datasets are up to date.
{% endif %}
{% endblock %}

{% block primary_content_inner %}
{% if c.stale_datasets %}
<ul>
{% for pkg in c.stale_datasets %} <hr>
<li><a href="{{ h.url_for('dataset.read', id=pkg.id) }}"> {{ pkg.title or pkg.name }}</a></li>
{% endfor %}
</ul>
{% else %}{% endif %}
{% endblock %}
