{% ckan_extends %} {% block primary_content %} 
{% block resource_additional_information %} 
{% if res %}
  <section class="module">
    <div class="module-content">
      <h2>{{ _('Additional Information') }}</h2>
      <table
        class="table table-striped table-bordered table-condensed"
        data-module="table-toggle-more"
      >
        <thead>
          <tr>
            <th scope="col">{{ _('Field') }}</th>
            <th scope="col">{{ _('Value') }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <th scope="row">{{ _('Data last updated') }}</th>
            <td>
              {{ h.render_datetime(res.last_modified) or
              h.render_datetime(res.created) or _('unknown') }}
            </td>
          </tr> -->
          <tr>
            <th scope="row">{{ _('Metadata last updated') }}</th>
            <td>
              {{ h.render_datetime(res.metadata_modified) or
              h.render_datetime(res.metadata_modified) or _('unknown') }}
            </td>
          </tr>
          <tr>
            <th scope="row">{{ _('Created') }}</th>
            <td>{{ h.render_datetime(res.created) or h.render_datetime(res.Created) or _('unknown') }}</td>
          </tr>
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>
              {{ res.format or res.mimetype_inner or res.mimetype or _('unknown')
              }}
            </td>
          </tr>
          <tr>
            <th scope="row">{{ _('License') }}</th>
            <td>
              {% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}
            </td>
          </tr>
          {% for key, value in h.format_resource_items(res.items()) %} {% if key
          not in ('created','Created', 'metadata modified', 'last modified',
          'format') %}
          <tr class="toggle-more">
            <th scope="row">{{ key | capitalize }}</th>
            <td>{{ value }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endif %} {% endblock %} {% endblock %}
