{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    <div class="pull-right">
        {{ _('Download publisher report') }}:
        <a class="btn btn-primary" href="{{ '/' + h.prepare_reports(request.path.replace('/organization/', ''))[0] }}">CSV</a>
        <a class="btn btn-primary" href="{{ '/' + h.prepare_reports(request.path.replace('/organization/', ''))[1] }}">JSON</a>
    </div>
  {% endif %}
{{ super() }}
{% endblock %}
