{% ckan_extends %}

{% block header_account_logged %}
  <li>
    <a href="{{ h.url_for('pages.index') }}" title="{{ _('Pages') }}">
      <i class="glyphicon glyphicon-file"></i>
    </a>
  </li>
  <li>
    <a href="{{ h.url_for('pages.blog_index') }}" title="{{ _('Blog') }}">
      <i class="glyphicon glyphicon-pencil"></i>
    </a>
  </li>
{% if c.userobj.sysadmin %}
  <li>
    <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
      <i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
      <span class="text">{{ _('Admin') }}</span>
    </a>
  </li>
{% endif %}
<li>
  <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
    {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
    <span class="username">{{ c.userobj.display_name }}</span>
  </a>
</li>
{% set new_activities = h.new_activities() %}
{% set stale_datasets = h.get_user_num_stale_datasets() %}
<li class="notifications {% if new_activities > 0 or stale_datasets|int > 0 %}notifications-important{% endif %}">
  {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities+stale_datasets|int) %}
  <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
    <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>
    <span class="text">{{ _('Dashboard') }}</span>
    <span class="badge">{{ new_activities + stale_datasets|int }}</span>
  </a>
</li>
{% block header_account_settings_link %}
  <li>
    <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
      <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
      <span class="text">{{ _('Settings') }}</span>
    </a>
  </li>
{% endblock %}
{% block header_account_log_out_link %}
  <li>
    <a href="{{ h.url_for('user.logout') }}" title="{{ _('Log out') }}">
      <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
      <span class="text">{{ _('Log out') }}</span>
    </a>
  </li>
{% endblock %}
{% block header_contacts_link %}
  <li>
    <a href="/contact" title="{{ _('Contact') }}">
      <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
      <span class="text">{{ _('Contact') }}</span>
    </a>
  </li>
{% endblock %}
{% endblock %}

{% block header_account_notlogged %}
  <li>{% link_for _('Log in'), named_route='user.login' %}</li>
  {% if h.check_access('user_create') %}
    <li>{% link_for _('Register'), named_route='odni_static.privacy_notice_reg', class_='sub' %}</li>
  {% endif %}
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('home', _('Home')),
          ('search', _('Datasets')),
          ('organizations_index', _('Publisher')),
          ('showcase_blueprint.index', _('Showcases')),
          ('datarequests.index', _('Suggest Data') + h.get_open_datarequests_badge()),
        ) }}
      {% endblock %}
      <li><a href="/blog">{{ _('News') }}</a></li>
      <li><a href="{{ h.url_for('home.about') }}">{{ _('About').format(g.site_title) }}</a></li>
      <li><a href="{{ h.url_for('contact_form') }}" title="{{ _('Contact') }}">{{ _('Contact') }}</a></li>
    </ul>
  </nav>
 
{% endblock %}

{% block header_site_search %}
  <form class="form-inline section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
    <div class="field form-group">
      <label for="field-sitewide-search"><i class="fa fa-search"></i><span>{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</span></label>
      <input class="form-control" id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search our data') }}"  />
      <button class="btn-search" type="submit">{{ _('Go') }}</button>
    </div>
  </form>
{% endblock %}
