{% ckan_extends %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {% block header_site_navigation_tabs %}
        {{ h.build_nav_main(
          ('home', _('Home')),
          ('search', _('Datasets')),
          ('organizations_index', _('Publisher')),
        ) }}
      {% endblock %}
      <li><a href="/blog">{{ _('News') }}</a></li>
      <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About').format(g.site_title) }}</a></li>
      <li><a href="#">{{ _('Contact') }}</a></li>
    </ul>
  </nav>
{% endblock %}

{% block header_site_search %}
  <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
    <div class="field">
      <label for="field-sitewide-search"><i class="icon-search"></i><span>{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</span></label>
      <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search our data') }}" />
      <button class="btn-search" type="submit">{{ _('Go') }}</button>
    </div>
  </form>
{% endblock %}
