{% ckan_extends %}

  {% block offering_title %}
    {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. Dataset Name'), value=title, error=errors['Title'], classes=['control-full', 'control-large'], is_required=true) }}
  {% endblock %}

  {% block offering_description %}
    {{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('Data Description'), value=description, error=errors['Description'], is_required=true) }}
  {% endblock %}


{% block additional_fields %}
  {{ form.input('suggested_use', id='field-suggested-use', label=_('Suggested use'), value=data.suggested_use, error=errors.get('suggested_use', ''), classes=['control-full', 'control-large']) }}
  {{ form.input('benefits', id='field-benefits', label=_('Potential Benefits'), value=data.benefits, error=errors.get('benefits', ''), classes=['control-full', 'control-large']) }}
  {{ form.input('on_behalf_of', id='field-on-behalf-of', label=_('On Behalf Of'), placeholder=_('Your organisation (if appropriate)'), value=data.on_behalf_of, error=errors.get('on_behalf_of', ''), classes=['control-full', 'control-large']) }}
  {{ form.input('data_owner', id='field-data-owner', label=_('Data Owner (if known)'), value=data.data_owner, error=errors.get('data_owner', ''), classes=['control-full', 'control-large']) }}
{% endblock %}

{% block offering_organization %}
{% endblock %}
