{% ckan_extends %}

{% block subtitle %}{{ _('Suggest Data') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Suggest Data'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='index' %}</li>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-info-sign"></i>{% trans %}Suggest Data{% endtrans %}</h2>
    <div class="module-content">
      <p>
        This platform is for the publication of public sector datasets for all to use, manipulate and extract value from. We welcome suggestions for Northern Ireland public sector datasets which are not yet published on the platform. Let us know your ideas by using our {% link_for _('Suggest a Dataset form'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='new' %}.
      </p>
      {% block secondary_content_additional_info %}
      {% endblock %}
    </div>
  </section>
  {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}
{% endblock %}
