{% ckan_extends %}

{% block description %}
  {{ super() }}
  {% block report %}
  {% set org = request.path.replace('/organization/', '') %}
    {% if 'organization' in request.path and h.is_admin(c.user, org) and h.verify_datasets_exist(org) %}
      {% set csv, json = h.prepare_reports(org) %}
      <dl>
        <h1 class="heading">{{ _('Publisher Report') }}</h1>
        <a class="btn btn-primary" href="{{ '/publisher-reports/' + csv }}" download="{{ csv }}">CSV</a>
        <a class="btn btn-primary" href="{{ '/publisher-reports/' + json }}" download="{{ json }}">JSON</a>
      </dl>
    {% endif %}
  {% endblock %}
{% endblock %}